* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.container {
    min-height: 100vh;
    background: #10172d;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.setup-form {
    display: flex;
    flex-direction: column;

    gap: 18px;

    width: 350px;
    margin-top: 25px;
}

.setup-form input,
.setup-form select {
    padding: 12px 15px;

    font-size: 15px;

    border-radius: 8px;

    border: none;

    outline: none;
}

.setup-form button {
    margin-top: 10px;

    padding: 14px;

    font-size: 15px;

    border: none;

    border-radius: 10px;

    background: #4b8fe8;

    color: white;

    cursor: pointer;

    transition: 0.3s;
}

.setup-form button:hover {
    background: #2f6fd0;
}

.logo {
  font-size: 60px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
  font-size: 32px;
}

p {
  color: #cbd5e1;
  margin-bottom: 30px;
  font-size: 18px;
}

button {
  background: #3394de;
  color: white;

  border: none;

  padding: 14px 28px;

  border-radius: 8px;

  font-size: 20px;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #2563eb;
}