*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,
body,
#root{
    width:100%;
    height:100%;
}

/* ==========================
   LIGHT THEME
========================== */

body[data-theme="light"]{

    --background:#f4f6fb;
    --sidebar:#ffffff;
    --card:#ffffff;

    --primary:#4f46e5;

    --text:#111827;
    --secondary-text:#6b7280;

    --border:#d1d5db;

    --hover:#eef2ff;

}

/* ==========================
   DARK THEME
========================== */

body[data-theme="dark"]{

    --background:#0f172a;
    --sidebar:#1e293b;
    --card:#273449;

    --primary:#4f46e5;

    --secondary-text:#94a3b8;

        --text:white;

    --border:#444;


    --hover:#334155;

}

body{

    margin:0;

    background:var(--background);

    color:var(--text);

    transition:.3s;

}