.chat-container{
    flex:1;
    display:flex;
    flex-direction:column;
    width:100%;
    min-width:0;


    background:var(--background);
    color:var(--text);

    /* Providing Scrollability */
    overflow-x: hidden;
    overflow-y: scroll;


}

.chat-header{

    height:70px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 25px;

    border-bottom:1px solid #ddd;

background: var(--background);
}

.chat-messages{

    flex:1;

    overflow-y:auto;

    padding:30px;

    display:flex;

    flex-direction:column;

    gap:20px;

}

.chat-footer{

    padding:20px;

    border-top:1px solid #ddd;

background: var(--background);
}