.privacy-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 40px;
    background: var(--background);
    color: var(--text)

}

.privacy-container h1{
    font-size:34px;
    margin-bottom: 10px;
}

.privacy-intro {
 color: var(--secondary-text);
 margin-bottom: 30px;
}

.privacy-card{
    background: var(--card);
    border: 1px solid var(--border);
    border-radius:16px;
    padding:25px;
    margin-bottom:25px;

}
.privacy-card h2{
    margin-bottom:15px;
}

.privacy-card ul{
    padding-left:20px;
}

.privacy-card li{
    margin-bottom:12px;
}

.danger-btn{

    margin-top:20px;

    padding:14px 24px;

    border:none;

    border-radius:10px;

    background:#dc2626;

    color:white;

    cursor:pointer;

    font-size:16px;

}

.danger-btn:hover{

    background:#b91c1c;

}

.primary-btn{

    margin-top:20px;

    padding:14px 24px;

    border:none;

    border-radius:10px;

    background:#4f46e5;

    color:white;

    cursor:pointer;

    font-size:16px;

}

.primary-btn:hover{

    background:#4338ca;

}