.sidebar {
    width: 240px;
    background: #202123;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.sidebar a:hover {
    background: #343541;
}

.sidebar a.active {
    background: #10a37f;
}

.new-chat-btn{

    width:100%;

    padding:12px;

    margin-bottom:20px;

}

.chat-item{

    padding:12px;

    cursor:pointer;

    border-radius:8px;

    margin-bottom:8px;

}

.chat-item:hover{

    background:#2f3b4a;

}

.chat-item.active{

    background:#4f46e5;

    color:white;

}